@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .logo {
        @apply text-3xl p-1 text-green-500 ml-[0.75rem] font-bold md:sticky md:top-0;
    }

    img {
        @apply rounded-lg inset-0 w-full h-full object-cover;
    }

    h2 {
        @apply flex-auto text-lg font-semibold text-gray-100 p-5;
    }

    .feed {
        @apply md:flex p-5;
    }

}
